/*
** Feature flag definitions.
**
** The Lua resource compiler has support for stripping based on feature flags.
** To use a flag, define it below and enclose code in a conditional group:
**
**   --IF_BEGIN DEBUG
**   Managers.mod:print("info", "Some debug code goes here")
**   --IF_END DEBUG
**
** The enclosed code will only be emitted if the flag is true.
*/

valid_tags = {
    // DEBUG = false
}
